mixin video(info)
    div 
        a(href="/videos/"+info.id)=info.title
        ul 
            li rating: #{info.rating}
            li comments: #{info.comment}
            li post time: #{info.createdAt}
            li views: #{info.view}