extends base.pug

block content 
    if errorMessage
        h3.error-message=errorMessage
    form(method='POST', enctype="multipart/form-data").edit-profile__form 
        label(for="avatar") Avater
        input(type="file", ID="avatar", name="avatar", accept="image/*")
        input(type="email", placeholder="email", name="email", value=user.email)
        input(type="text", name="username", required, placeholder="Wirte ID", value=user.username)
        input(type="text", name="name", required, placeholder="Wirte your name", value=user.name)
        input(type="location", name="location", placeholder="location", value=user.location)
        input(type="submit", value="Update Profile").submit
        div.edit-profile__password
        if !user.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;